{include 'templates/ligth_blue/white/header.tpl'}
<h2 class="page-title">Inicio<small></small></h2>
<div class="row">
    <div class="col-lg-12">
        body
    </div>
</div>
{include 'templates/ligth_blue/white/footer.tpl'}